body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --text-small: "DM Sans";
    --h4: "DM Serif Display";
  
    /* font sizes */
    --text-size: 16px;
    --text-small-size: 12px;
    --h4-size: 24px;
    --h2-size: 56px;
    --text-big-size: 20px;
    --h3-size: 40px;
    --h1-size: 72px;
  
    /* Colors */
    --text-white: #fff;
    --color-gray-100: rgba(255, 255, 255, 0.3);
    --text-white-50: rgba(255, 255, 255, 0.5);
    --text-black-50: rgba(0, 0, 0, 0.5);
    --text-black: #000;
    --color-gainsboro-100: #e8e8e8;
    --color-gainsboro-200: #dadada;
    --color-gainsboro-300: #d8d8d8;
    --primary-1: #434ccc;
    --primary-2: #f1b505;
    --color-khaki: #ffdd78;
  
    /* Border radiuses */
    --br-8xs: 5px;
    --br-10xs: 3px;
  }
  