.rectangle11 {
    position: absolute;
    height: 6.64%;
    width: 100%;
    top: 24.76%;
    right: 0;
    bottom: 68.6%;
    left: 0;
    background-color: var(--primary-1);
  }
  .molestiae {
    top: calc(50% - 2841px);
    left: 45.69%;
    letter-spacing: 4.80px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word
  }
  .fastidii-iracundia,
  .molestiae,
  .sit-bonorum-graecis {
    position: absolute;
    color: var(--text-white);
    text-align: center;
  }
  .fastidii-iracundia {
    top: calc(50% - 2796px);
    left: 35.14%;
    line-height: 64px;
    font-size: 56px;
    font-family: DM Serif Display;
    font-weight: 400;
    word-wrap: break-word;
  }
  .sit-bonorum-graecis {
    height: 0.72%;
    width: 39.58%;
    top: 26.63%;
    left: 30.21%;
    line-height: 32px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 400;
  }
  .rectangle12 {
    position: absolute;
    height: 13.55%;
    width: 100%;
    top: 31.4%;
    right: 0;
    bottom: 55.05%;
    left: 0;
    background-color: var(--primary-1);
    opacity: 0.05;
    mix-blend-mode: normal;
  }
  .download-2-icon,
  .rectangle13 {
    position: absolute;
    height: 4.43%;
    width: 81.25%;
    top: 27.8%;
    right: 9.38%;
    bottom: 67.77%;
    left: 9.38%;
  }
  .rectangle13 {
    border-radius: var(--br-8xs);
    background-color: var(--primary-2);
  }
  .download-2-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    left: 23.2%;
  }
  .commune {
    position: absolute;
    top: calc(50% - 2457px);
    left: 16.32%;
    line-height: 24px;
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: DM Sans;
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    word-wrap: break-word;
  }
  .ei-mei-fabellas-container {
    position: absolute;
    top: calc(50% - 2412px);
    left: 16.32%;
    font-size: var(--h2-size);
    line-height: 64px;
    font-family: var(--h4);
    color: var(--text-white);
  }
  .button2 {
    position: absolute;
    top: calc(50% - 11px);
    left: 25.59%;
    line-height: 24px;
  }
  .darkbuttonsecondarytext1 {
    position: absolute;
    height: 0.41%;
    width: 11.81%;
    top: 30.57%;
    right: 71.88%;
    bottom: 69.02%;
    left: 16.32%;
    text-align: center;
    color: var(--text-white);
  }
  .download-icon,
  .rectangle15 {
    position: absolute;
    height: 4.43%;
    width: 39.58%;
    top: 32.5%;
    right: 51.04%;
    bottom: 63.07%;
    left: 9.38%;
  }
  .rectangle15 {
    border-radius: var(--br-8xs);
    background-color: #e94a47;
  }
  .download-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    left: 16%;
    height: 4%;
    width: 33%;
  }
  .erroribus {
    position: absolute;
    top: calc(50% - 1945px);
    left: 16.32%;
    line-height: 24px;
    color: var(--text-white-50);
    mix-blend-mode: normal;
  }
  .cum-ea-debitis-container {
    position: absolute;
    top: calc(50% - 1904px);
    left: 16.32%;
    font-size: var(--h4-size);
    line-height: 32px;
    font-family: var(--h4);
    color: var(--text-white);
  }
  .darkbuttonsecondaryicon {
    position: absolute;
    height: 0.41%;
    width: 3.33%;
    top: 34.58%;
    right: 80.35%;
    bottom: 65.01%;
    left: 16.32%;
  }
  .combined-shape-icon3-1 {
    top: 34.68%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 17.32%;
    
  }
  .combined-shape-icon3-2 {
    top: 34.68%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 59%;
  }
  .download-icon1,
  .rectangle17 {
    position: absolute;
    height: 4.43%;
    width: 39.58%;
    top: 32.5%;
    right: 9.38%;
    bottom: 63.07%;
    left: 51.04%;
  }
  .rectangle17 {
    border-radius: var(--br-8xs);
    background-color: #428dfc;
  }
  .download-icon1 {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    
    left: 57%;
    height: 4%;
    width: 33%;
  }
  .scripserit {
    position: absolute;
    top: calc(50% - 1945px);
    left: 57.99%;
    line-height: 24px;
    color: var(--text-white-50);
    mix-blend-mode: normal;
  }
  .dicam-dolore-cu-container {
    position: absolute;
    top: calc(50% - 1904px);
    left: 57.99%;
    font-size: var(--h4-size);
    line-height: 32px;
    font-family: var(--h4);
    color: var(--text-white);
  }
  .darkbuttonsecondaryicon1,
  .rectangle19 {
    position: absolute;
    height: 0.41%;
    width: 3.33%;
    top: 34.58%;
    right: 38.68%;
    bottom: 65.01%;
    left: 57.99%;
  }
  .rectangle19 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--primary-1);
    box-sizing: border-box;
    opacity: 0.32;
    mix-blend-mode: normal;
  }
  .button3 {
    position: absolute;
    top: calc(50% - 11px);
    left: 29.12%;
    line-height: 24px;
  }
  .lightbuttonsecondarytext {
    position: absolute;
    height: 0.41%;
    width: 11.81%;
    top: 37.34%;
    right: 44.1%;
    bottom: 62.24%;
    left: 44.1%;
    text-align: center;
    color: var(--primary-1);
  }
  .clip-log-out-icon {
    position: absolute;
    height: 6.3%;
    width: 75.97%;
    top: 37.97%;
    right: 35.35%;
    bottom: 55.73%;
    left: -11.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .nemore-facilisi-medi-container1 {
    position: absolute;
    top: calc(50% - 1228px);
    left: 51.04%;
    font-size: var(--h2-size);
    line-height: 64px;
    font-family: var(--h4);
  }
  .dicat-eripuit-accums1 {
    position: absolute;
    height: 0.6%;
    width: 39.58%;
    top: 40.72%;
    left: 51.04%;
    font-size: var(--text-big-size);
    line-height: 32px;
    display: inline-block;
  }
  .combined-shape-icon5 {
    top: 41%;
    left:17%;
    position: relative;
    width: 50px;
    height: 40px;
  }
  .tacimates {
    position: absolute;
    top: calc(50% - 880px);
    left: 51.04%;
    font-size: var(--h4-size);
    line-height: 32px;
    font-family: var(--h4);
  }
  .erroribus-vituperato {
    position: absolute;
    height: 0.44%;
    width: 18.75%;
    top: 42.73%;
    left: 51.04%;
    line-height: 24px;
    color: var(--text-black-50);
    display: inline-block;
    mix-blend-mode: normal;
  }
  .combined-shape-icon6 {
    position: relative;
    width: 38px;
    height: 52px;
    top: 41%;
    left:34%;
  }
  .recusabo {
    position: absolute;
    top: calc(50% - 880px);
    left: 71.88%;
    font-size: var(--h4-size);
    line-height: 32px;
    font-family: var(--h4);
  }
  .dolor-contentiones-q {
    position: absolute;
    height: 0.44%;
    width: 18.75%;
    top: 42.73%;
    left: 71.88%;
    line-height: 24px;
    color: var(--text-black-50);
    display: inline-block;
    mix-blend-mode: normal;
  }